{% extends 'filmy/base.html' %}

{% block 'title' %} Druhy {{ block.super }} {% endblock %}

{% block 'content' %}
    <h1>Druhy</h1>
    <ul>
        <li>V</li>
        <li>Rade</li>
        <li>Za</li>
        <li>Sebou</li>
        <li>Trí</li>
        <li>Cunici</li>
        <li>Jdou</li>
        <li>Tapaji</li>
        <li>Si</li>
        <li>V</li>
        <li>Blate</li>
        <li>Cestou</li>
        <li>Necestou</li>
        <li>Kufry</li>
        <li>Nemaji</li>
        <li>Cestu</li>
        <li>Neznaji</li>
        <li>Vysli</li>
        <li>Proste</li>
        <li>Do</li>
        <li>Sveta</li>
        <li>A</li>
        <li>Vesele</li>
        <li>Si</li>
        <li>Zpivaji</li>
    </ul>
{% endblock %}